a,a:link,a:visited,li.fs a.fdleft:hover,li.fd_mg a.fdleft:hover {
	color: #4d5d2c;
}

.newskinbody li.fs a:hover,.newskinbody li.fs_sep a:hover {
	background: #ebf4d8;
	text-decoration: none;
}

.mysidebar ul.navlist_min li.fs a:hover,.mysidebar ul.navlist_max li.fs a:hover
	{
	background: #bed393;
}

.attbg {
	background: #dceac0;
}

.fdbody,.tipstitle {
	background: #9bbb59;
}

.fdbody {
	border-left: 8px solid #fff;
	border-right: 1px solid #87a34d;
}

li.fn {
	background: #748c42;
	color: #FFFFFF;
}

.fn_list {
	background: #748c42;
}

.fn_list a:link,.fn_list a:visited,.fn_list a:hover,.fn_list a:active {
	color: #FFFFFF;
}

.sizebar,.todaytip,.tipstitle,.cpright,.cptab,.cptitle,.addrsort {
	border: 1px solid #87a34d;
}

.txt_title_none a:hover,.tabtitle td a:hover {
	color: #687e39;
}

.settingSub a:hover {
	color: #687e39;
}

.toolbg,.toolbg1,.tabtitle,.addrsort {
	background: #bed393;
}

.settingTitle {
	background: #bed393;
}

.tabtitle {
	border-top: 5px solid #bed393;
}

.toolbgline,.tabtitle td,.readmailinfo,.settingtd,.addr_line,.filtertd1,.bartools
	{
	border-bottom: 1px solid #87a34d;
}

.filtertd {
	border-top: 1px solid #87a34d;
}

.tabtitle td.selected,.colorpanel,.bd,.tpinfo {
	border: 1px solid #87a34d;
}

.bd_upload {
	border: 1px solid #628d0b;
}

.readmailinfo,.settingtable,.tabtitle td.selected,.biginfo,.tipstitle,.colorsure
	{
	background: #ebf4d8;
}

.settingTitle .selected {
	background: #ebf4d8;
}

.addrtitle {
	color: #8e877d;
}

.B,.nomail,.colortitle {
	background: #f2f8e6;
}

.mailinfo {
	border-bottom: 2px solid #fff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,
		endColorstr=#f2f8e6, gradientType=0 );
}

.txt_title,.txt_title_tab,.biginfo,.composetab_sel {
	color: #334905;
}

.skinlogo img {
	background-image:
		url(../../images/admin/skin_green/logo.gif);
}

.topbg {
	float: right;
	background:
		url(../../images/admin/skin_green/top_bg.jpg)
		no-repeat right;
	width: 486px;
	height: 68px;
}

.topline {
	width: auto;
	border-left: 8px solid #fff;
	height: 11px;
	border-right: 0;
	background:
		url(../../images/admin/skin_green/nav_bg.gif)
		0 -107px repeat-x;
}

.toplineimg {
	background:
		url(../../images/admin/skin_green/topline.gif)
		-179px 0;
}

.navbar {
	background:
		url(../../images/admin/skin_green/nav_bg.gif)
		no-repeat;
}

.listbg {
	background:
		url(../../images/admin/skin_green/topline.gif)
		repeat-y;
}

.navbottom {
	background:
		url(../../images/admin/skin_green/topline.gif)
		-179px -11px no-repeat;
}

.sepline {
	border-top: 1px solid #d8dee5;
}

.txt_title_tab {
	background:
		url(../../images/admin/skin_green/ico_titleview.gif)
		center bottom no-repeat;
}

.msg {
	background: #68af02;
}

.errmsg {
	background: #ef8f00;
}

li.fn a:link,li.fn a:visited {
	color: #FFFFFF;
}

.settingtd {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #b8ce8c
}

.addr_line {
	font-size: 16px;
	font-weight: bold;
	border-bottom: 2px solid #9db669;
}
/*********һ�㲻��Ҫ�Ķ�**************/
.sizebar {
	background: #FFFFFF;
}

.usebar {
	background: #b7f151;
}

.sizenum {
	color: #f5f9fd;
}

/***** Setting Page*******/
.tabtitle td.selected {
	border-bottom: none;
}

.settingline {
	border-bottom: 1px solid #fff;
}

.huizhi {
	background: #fff9e3;
	border: 1px solid #fadc80;
}
/********�б���ɫ���Ʊ�start*********/
.O {
	background: #f4f4f4;
	border-bottom: 1px solid #d0d0d0;
	border-top: 1px solid #fff;
}

.selbar_bt {
	background: #f4f4f4;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.graytip {
	background: #ffffe9;
	border-bottom: 1px solid #e3e6eb;
}

.searchtip {
	background: #fffde3;
	padding: 7px 0 7px 13px;
	border: 1px solid #c1c8d2;
	margin-bottom: 4px;
	clear: both;
}

.readmailinfo {
	border-top: 1px solid #fff;
	border-left: none;
	border-right: none;
}

.txt {
	border: 1px solid #718da6;
	height: 20px;
	padding-top: 2px;
}

.cpright {
	background: #fff;
}

.cptitle {
	border-left: none;
	border-right: none;
	border-top: none;
	height: 26px !important;
	height: 25px;
	height: /**/ 25px;
}

.cptab {
	position: absolute;
	height: 25px;
	border-bottom: none;
	line-height: 24px;
	width: 88px !important;
	width: 90px;
	width: /**/ 90px;
	text-align: center;
}

.cpslt {
	background: #fff;
	height: 25px;
	font-weight: bold;
}

.cpslt a {
	text-decoration: none;
	color: #000;
}

.addrtips {
	border-bottom: 1px solid #d8dee5;
	padding: 7px 0 3px 6px;
	margin: 3px;
	color: #979ea5;
}

.addrsort {
	border-left: none;
	border-right: none;
	border-bottom: none;
	height: 23px;
	line-height: 23px;
	padding-left: 8px;
	cursor: pointer;
}

.bartools {
	background: #fff;
}

.tipstitle {
	color: #fff;
	border: none;
}

.rightpanel legend,.tipstitle,.newu legend {
	color: #3c5507;
}

.todaytip,.rightpanel,.qqshowbd,.newu {
	border: 1px solid #b4cc83;
}

.leftpanel {
	border-bottom: 1px solid #cedeae;
}

.tipstitle {
	border: 1px solid #fff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f2f8e6,
		endColorstr=#ffffff, gradientType=0 );
	background: #f2f8e6
}
/*.todaybody {background:url(http://rescdn.qqmail.com/zh_CN/htmledition/images/skin_13/today_adimg.jpg) no-repeat right top #fff;}*/
.grptitle {
	background: #93ba43;
	color: #fff;
	border: 1px solid #ebf8d1;
	border-bottom: none;
}

.bd_webqq {
	border: 1px solid #fff;
	border-top: none;
}

.bd_ccc {
	border: 1px solid #cee69a;
	border-top: none;
	border-left: none;
}

.bd_fff {
	border-left: 1px solid #cee69a;
}

.composetab_sel {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dceac0,
		endColorstr=#bed393, gradientType=0 );
	background: #bed393;
}

.composetab_unsel {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dceac0,
		endColorstr=#ebf4d8, gradientType=0 );
	background: #ebf4d8;
}

.grptitle_tab {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ddeeb8,
		endColorstr=#ffffff, gradientType=0 );
	background: #ddeeb8;
}

.grptitle_tab_ {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,
		endColorstr=#ddeeb8, gradientType=0 );
	background: #ddeeb8;
}

.backhomeimg_today {
	background:
		url(http://rescdn.qqmail.com/zh_CN/htmledition/images/skin_13/ico_home104473.gif)
		no-repeat;
}

.bgGradient {
	background: -moz-linear-gradient(top, #ebf4d8, #dceac0);
	background: -webkit-gradient(linear, center top, center bottom, from(#ebf4d8),
		to(#dceac0) );
}









/************************************添加于2013-02-26********************************************/

#menunav {
	background: #3B8C3C repeat-x left bottom; /*蓝色#6392C8; 绿色#87A34D/#3B8C3C; 灰色#9C9C9C; 粉色#F8A1BC;*/
	height: 35px;
}
